<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Julia Jensen Studio Art & Workshops: Oil, Encaustic, & Cold Wax Paintings</title>
        <meta name="description" content="Art and workshops by painter Julia Jensen">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
        crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="/stylesheets/abadi-mt-condensed-light">
        <link href="https://fonts.googleapis.com/css?family=Barlow:300,400,500" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.js"></script>
        <script>
            function linkColor(){
                    var loc = window.location.href;
                    var spl = loc.split("/");
                    var str = spl[3];
                    var str2 = spl[4];
                    if(str2){
                        $("."+str2).addClass("active");
                        if(str === "paintings"){
                            $("."+str).addClass("active");
                            $("."+str).addClass("open");
                        } else {
                            $(".dropdown").hover( function(){
                                $(".dropdown-contents").stop().slideToggle(400)
                            })
                        }
                    } else if(str =="instagram"){
                        $("."+str).addClass("active");
                        $(".dropdown").hover( function(){
                            $(".dropdown-contents").stop().slideToggle(400)
                        })
                    } else {
                        $(".dropdown").hover( function(){
                            $(".dropdown-contents").stop().slideToggle(400)
                        })
                    }
            }
        </script> 
    </head>
    <body onLoad="linkColor()">