<% include partials/header %>

<iframe src="https://snapwidget.com/embed/467337" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>

<!-- SnapWidget  script-->
<script src="https://snapwidget.com/js/snapwidget.js"></script>
<!-- AddThis.com script --> 
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a0340088eb33fa8"></script> 

<!--Login for editing-->
<a id="admin-login" href="/login">Administrator Login</a>

<% include partials/footer %>