<% include ../partials/header %>

<!--The infocode is unique for each info page and will allow for styling for each-->
<% var infocode = "st" %>
<!--The page variable is just the name of the page, for routing purposes-->
<% var page = "statement" %>
<% include ../partials/infobody/infotop.ejs %>

<b>Artist Statement: </b>
<p>At root all painting is about expression of direct experience. Paintings exist at the meeting ground between the external world and one's internal, emotional, and spiritual responses to it. For me, landscape is the perfect point of access for this exploration. Landscape gives me and the viewer a foothold on the path to an interior experience of art.</p>

<p>I have been painting for years drawing on my experiences living in Vermont and Nantucket. In my early years of painting landscapes I would paint directly from life, sketches and photographs. Now, however, I am working much more from memory, using the vocabulary that I have built over the years. When I am working I try to leave the surface as open as I can for as long as I can, turning the panel this way and that way, trying to keep subject out of it and work just with color and shape. Inevitably, somehow, a place begins to emerge.</p>

<p>To be completely honest, I am suspicious of artist’s statements. I believe, as Edward Hopper said, that “If I could say it in words there would be no reason to paint.” What I am trying to express and experience through the act of painting is my visceral, sensual experience of passing through the world.</p>

<% include ../partials/infobody/infobottom.ejs %>

<% include ../partials/footer %>