<% include ../partials/header %>


<!--The infocode is unique for each info page and will allow for styling for each-->
<% var infocode = "ws" %>
<!--The page variable is just the name of the page, for routing purposes-->
<% var page = "workshops" %>

<% include ../partials/infobody/infotop.ejs %>

<p><b>Upcoming Workshops:</b></p>

<p>May 12 + 13 - &emsp;&emsp;Encaustic Weekend
</br>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;River Gallery School, Brattleboro, VT </p>

<p>
	Encaustic (wax and damar resin) is an ancient medium. You may be familiar with the Fayum funeral portraits, and perhaps more recently, with the paintings of Jasper Johns. But in the last few years encaustic has experienced a resurgence. It is a fantastically versatile medium which allows the artist to build painterly surfaces very quickly.
</p>


<p>
	Because the wax hardens between layers these layers can be quickly built up or carved back. It is this ability to develop complex surfaces rapidly that makes it such an intriguing medium to explore.
</p>

<p>
	In these weekend workshops, we’ll learn the basics of working with encaustic. From an introduction to the types of surfaces that are appropriate for encaustic, to hands-on instruction on how to build up surfaces, manipulate the wax, and finish paintings. Workshop participants will get a thorough introduction to this exciting and versatile medium.
</p>


<% include ../partials/infobody/infobottom.ejs %>

<% include ../partials/footer %>